<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.einfosoft.com/templates/admin/aegis/source/light/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Feb 2022 08:34:09 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Aegis - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/temp/css/app.min.css">
  <link rel="stylesheet" href="/assets/temp/bundles/prism/prism.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/temp/css/style.css">
  <link rel="stylesheet" href="/assets/temp/css/components.css">
  <!-- Custom style CSS -->

  <link rel="stylesheet" href="/assets/temp/bundles/footable-bootstrap/css/footable.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/temp/bundles/footable-bootstrap/css/footable.standalone.min.css">
  <link rel="stylesheet" href="/assets/temp/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/assets/temp/img/favicon.ico' />
</head>
