<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/image/img/icone.png" type="image/x-icon">
    <title>S'nah</title>
    <link rel="stylesheet"  href="/assets/css/mycrt/styles.css">
</head>
<body>
    <div class="container">
        <nav class="new_navbar">
           <div>
                <div>
                    <a href="/"><img src="/assets/image/img/logo.png" alt=""></a>
                </div> 
                <div>
                    <a href="#" id="apercu">apercu</a>
                </div>
           </div>
           <div>
                <ul>
                    <a href="#create" class="js-modal"><li>Les base</li></a>
                    <a href="#recompense" class="js-modal"><li>Les recompense</li></a>
                    <a href="#histoire" class="js-modal"><li>Votre histoire</li></a>
                    <a href="#equipe" class="js-modal"><li>Equipe</li></a>
                    <a href="#fond" class="js-modal"><li>Les fonds</li></a>
                    <a href="#votre_campagne" class="js-modal"><li>Votre campagne</li></a>
                </ul>
           </div>
        </nav>
        <form action="/projet/create" class="container_start" method="post">